<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>691293309546-dg7gcmtqr1o80gjjb0iitvp09aetqc0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691293309546-dg7gcmtqr1o80gjjb0iitvp09aetqc0n</string>
	<key>API_KEY</key>
	<string>AIzaSyACCUWzSmTMf3hctJQIC0u8htrZUepry9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>691293309546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ReshetarCompany.UzhNULearn</string>
	<key>PROJECT_ID</key>
	<string>uzhnulearn</string>
	<key>STORAGE_BUCKET</key>
	<string>uzhnulearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:691293309546:ios:9fd1af03a35aeb9c</string>
	<key>DATABASE_URL</key>
	<string>https://uzhnulearn.firebaseio.com</string>
</dict>
</plist>